
.container {
    text-align: center;
}


button {
    background: rgb(236, 122, 122);
    color: white;
    font-size: 25px;
    padding: 8px 20px;
    cursor: pointer;
    border: 0;
}

#display {
    font-size: 70px;
    size: 5px;
}

.relogio {
    width: 150px;
    animation: tremer .50s;
}


@keyframes tremer {
    10%, 40%, 70% {
        transform: translateY(-10px);
    }
    25%, 55%, 85% {
        transform: translateY(10px);
    }
}